.navbar_container {
    display: flex;
    background-color: white;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    height: 72px;
    align-items: center;


}

.navbar_logo {
    width: 76px;
    height: 42.75px;
    flex-shrink: 0;
    margin: 20 auto;
}

.navbar_options {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    color: #2E2E2E;
}

.button{
    all: unset;
    padding: 6px 16px;
    background: #D01C28;
    height: 32px;
    font-weight: 500;
}