.navbar_container {
    background-color: white;
    width: 1440px;
    height: 72px;
    display: flex;
    flex-direction: row;

}

.navbar_logo {
    width: 76px;
    height: 42.75px;
    flex-shrink: 0;
}

.navbar_options {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    color: #2E2E2E;
}